/* =============== Commons =============== */
html, body, div
{
  font-family: sans-serif;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body
{
  margin: 0;
  padding: 2em;
  background: #fff;
}

a
{
  color: #222;
  opacity: 0.7;
  text-decoration: none;
  transition: opacity 0.3s ease-in;
}
a:hover
{
  opacity: 1;
}
.hidden
{
  opacity: 0 !important;
  pointer-events: none;
}

.breadcrumb *
{
  display: inline-block;
  vertical-align: center;
}
.breadcrumb .divider
{
  opacity: 0.05;
  margin: 0 0.5em;
}

.center.aligned
{
  text-align: center;
}
.right.aligned
{
  float: right;
}
.vertical.aligned
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.button
{
  border: 1px solid #444;
  border-radius: 3px;
  padding: 0.3em 1em;
}
.toggle-button.active
{
  border-bottom: 2px solid #222;
  margin-bottom: -2px;
}

.nav
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0,0,0,0.04);
  padding: 0.5em 1em;
}
.nav *
{
  display: inline-block;
  vertical-align: middle;
}
.nav .type
{
  font-weight: bold;
  margin-right: 0;
  margin-top: 4px;
}
.nav .state
{
  opacity: 0.6;
  margin-left: -0.3em;
  text-align: left;
  margin-top: 4px;
}
.nav a
{
  margin-left: 0.5em;
}

.dock.bottom
{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  transition: all 0.3s ease-in-out;
}
