<!DOCTYPE>
<html>
<head>
<title>{% block full_title %}{% block title %}{% end %}{% end %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel='shortcut icon' id="favion" href='/static/favicon.ico'/>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/material-icons.css">
<script src="/static/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/qrcode.min.js"></script>
<script src="/static/clipboard.min.js"></script>
<script src="/static/utils.js"></script>
<script src="/static/client.js"></script>
{% block meta %}{% end %}
{% block style %}{% end %}
</head>
<body>
{% block content %}
{% end %}
</body>
<script>
$('.toggle-button').click(function() {
  var el = $(this);
  if (el.hasClass('active'))
    el.removeClass('active')
  else
    el.addClass('active')
})
</script>
{% block scripts %}{% end %}
</html>
