<!DOCTYPE>
<html>
<head>
<title>{% block full_title %}{% block title %}{% end %}{% end %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico'/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
<script src="/static/utils.js"></script>
<script src="/static/client.js"></script>

{% block meta %}{% end %}
{% block style %}{% end %}
</head>
<body>
{% block content %}
{% end %}
</body>
{% block scripts %}{% end %}
</html>
