<div class="nav">
  <span class="type">Sender</span>
  <span class="state">Disconnect</span>
  <div class="right aligned">
    <!--<a><i class="material-icons" id="qrcode_display">fullscreen</i></a>-->
    <a class="toggle-button" id="toggle-vibration"><i class="material-icons">vibration</i></a>
    <a class="toggle-button" id="toggle-touchpad"><i class="material-icons">gesture</i></a>
    <a class="toggle-button" id="toggle-keyboard"><i class="material-icons">keyboard</i></a>
    <a><i class="material-icons" id="link_copy" data-content="Copy URL">link</i></a>
  </div>
</div>
