<div class="ui grid">
  <div class="ui row">
    <div class="eight wide column">
      <h1 class="ui header">
        <i class="icon keyboard"></i>
        <span name="type">Sender</span>
        <div class="sub header">
          <span id="state">Disconnect</span><br>
          <i class="gery icon qrcode" id="qrcode_display" style="font-size:1.2em;margin-top:0.7em"></i>
          <i class="gery icon linkify" id="link_copy" style="font-size:1.2em;margin-top:0.7em" data-content="Copy URL"></i>
        </div>
      </h1>
      <div class="ui popup" id="qrcode_popup">
        <div id="qrcode"></div>
      </div>
    </div>
  </div>
</div>
