{% extends 'base.html' %}

{% block title %}Keyboard Remote{% end %}

{% block style %}{% end %}

{% block content %}
<div class="ui center aligned basic segment">
  <h2 class="ui header">
    Keyboard Remote
  </h2>
  </h4>
    A keyboard sharing tool through different devices, <br>
    Github: <a href="https://github.com/AnthonyFu117/keyboard-remote" target="_blank">keyboard-remote</a>
  </h4>
  <br>
  {% if localmode %}
    <p>*Local Mode*</p>
    <a class="button" href="/sender">Sender</a>
    <a class="button" href="/receiver">Receiver</a>
  {% else %}
    <a class="button" href="/new?type=sender">I am Sender</a>
    <a class="button" href="/new?type=receiver">I am Receiver</a>
  {% end %}
</div>
{% end %}
