{% extends 'base.html' %}

{% block title %}Receiver{% end %}

{% block style %}
<style>
body
{
  padding: 2em;
}
#history, #pressed
{
  margin-top: -1em;
  padding: 0 !important;
  min-height: 32px;
}
#history .label
{
  padding: 0.2em 0.3em 0.3em 0.3em;
  margin: 0.2em;
}
</style>
{% end %}

{% block content %}
<h3 class="ui header"><i class="icon desktop"></i> Receiver <div id="state" class="ui sub header">Offline</div></h3>
<h4 class="ui header">Current</h4>
<div class="ui labels" id="pressed"></div>
<h4 class="ui header">History</h4>
<div class="ui labels" id="history" style="direction: rtl"></div>
{% end %}


{% block scripts %}
<script>
var pressed = {};
var last_time = 0;
var client = new WSClient('ws://'+location.host+'/ws/r','hello',true,false);
client.connect();
client.onkey = function(key) {
  console.log(key);
  var char = key.key;
  var code = key.keyCode;
  if (!char) return;
  if (char == ' ') char = 'Space';

  if (key.type == 'keydown')
  {
    if (pressed[code] ==  undefined)
    {
      pressed[code] = key;
      var new_label = $('<div class="ui teal label" code="'+code+'">' + char + '</div>')
      $('#pressed').append(new_label);
    }
  }
  else {
    delete pressed[code];
    $('#pressed [code="'+code+'"]').remove();

    if (code == 16 || code == 17 || code == 18) return; //Ctrl Shift Alt
    if (key.altKey) char = 'Alt + ' + char;
    if (key.shiftKey) char = 'Shift + ' + char;
    if (key.ctrlKey) char = 'Ctrl + ' + char;
    var new_label = $('<div class="ui basic small label">' + char + '</div>')
    var current_time = Math.floor(Date.now() / 1000);
    if (current_time - last_time > 60)
      new_label.css('margin-left',60);
    else
      new_label.css('margin-left',current_time - last_time - 4);
    last_time = current_time;
    $('#history').prepend(new_label);
    new_label.transition('fade in');
    setTimeout(function(){fadeout(new_label);}, 3*60000);
  }
}
client.onstatechange = function(state) {
  if (state) $('#state').addClass('teal').text('Online');
  else $('#state').removeClass('teal').text('Offline');
}
function fadeout(target, time)
{
  target.transition('fade out',{
    duration   : time || '2s',
    onComplete : function() {
      target.remove();
    }})
}
</script>

{% end %}
