{% extends 'base.html' %}

{% block title %}Sender{% end %}

{% block meta %}
<link rel="stylesheet" href="/static/keyboard.css">
<script src="/static/keyboard.js"></script>
<link rel="stylesheet" href="/static/touchpad.css">
<script src="/static/touchpad.js"></script>
{% end %}


{% block style %}
<style>
.breadcrumb .section
{
  color: rgba(0,0,0,0.5);
}
.breadcrumb .section.active
{
  color: rgba(0,0,0,1);
}
</style>
{% end %}

{% block content %}
{% include header.html %}
<canvas class="touchpad hidden" id="touchpad"></canvas>
<div class="bottom dock hidden" id="keyboard-dock">
  <div style="padding:0.7em 0.3em;text-align:center;background:rgba(0,0,0,0.04)">
    <div class="breadcrumb">
      <div class="section" onclick="switch_keyboards('qwert',this)">Qwert</div>
      <div class="divider"> | </div>
      <div class="section" onclick="switch_keyboards('symbol',this)">Symbol</div>
      <div class="divider"> | </div>
      <div class="section" onclick="switch_keyboards('qwert-full',this)">Full</div>
      <div class="divider"> | </div>
      <div class="section" onclick="switch_keyboards('numpad',this)">Num</div>
      <div class="divider"> | </div>
      <div class="section" onclick="switch_keyboards('functional',this)">Func</div>
    </div>
  </div>
  <div class="keyboards">
    <div class="keyboard qwert"></div>
    <div class="keyboard symbol"></div>
    <div class="keyboard qwert-full"></div>
    <div class="keyboard functional"></div>
    <div class="keyboard numpad"></div>
  </div>
</div>
{% end %}

{% block scripts %}
<script>
var keyboard;
var touchpad;
// Disable scroll
document.body.addEventListener('touchmove', function(event) {
  event.preventDefault();
}, false);

$('#toggle-keyboard').click(function() {
  if ($(this).hasClass('active'))
  {
    $('#keyboard-dock').removeClass('hidden');
    switch_keyboards('qwert',$('.breadcrumb .section:first'))
  }
  else
  {
    $('#keyboard-dock').addClass('hidden');
    switch_keyboards(null,'')
  }
});
$('#toggle-touchpad').click(function() {
  if ($(this).hasClass('active'))
  {
    $('#touchpad').removeClass('hidden');
    touchpad.start();
  }
  else
  {
    $('#touchpad').addClass('hidden');
    touchpad.stop();
  }
});

function switch_keyboards(key,bread) {
  $('.keyboard').hide();
  $('.breadcrumb .section').removeClass('active');
  $(bread).addClass('active');
  if(key)
      $('.keyboard.'+key).show();
}
switch_keyboards(null,$('#none_keyboad'));

init_header('sender');

$(function(){
  keyboard = new Keyboard(sendkey,40);
  keyboard.make(keyboard.qwert);
  keyboard.make(keyboard.qwert_full);
  keyboard.make(keyboard.numpad);
  keyboard.make(keyboard.func);
  keyboard.make(keyboard.symbol);
  keyboard.register_key_event($('.keyboard key'));
  keyboard.vibrate = function() {
    if ($('#toggle-vibration').hasClass('active'))
      navigator.vibrate(100);
  }
  touchpad = new Touchpad($('#touchpad'));
});

var pressed = {};
var ws_url = 'ws://'+location.host+'/ws/s'+location.search;
if (ws_url.indexOf('?') == -1) ws_url = ws_url.replace('&','?');
var client = new WSClient(ws_url,true);
client.connect();
client.onkey = function(key) {
  alert(key);
}
client.onstatechange = function(state) {
  if (state == "Online") $('.nav .state').html(state);
  else $('.nav .state').html(state);
}
function sendkey(event) {
  var keycode = event.keyCode;
  var obj = {};
  obj.action = 'key';
  obj.subaction = event.type;
  obj.data = {};
  obj.data.keyaction = event.type;
  obj.data.key = event.key;
  obj.data.keycode = event.keyCode;
  obj.data.is_shift_down = event.shiftKey;
  obj.data.is_ctrl_down = event.ctrlKey;
  obj.data.is_alt_down = event.altKey;
  console.log(event,obj);
  client.sendkey(obj);
}
document.addEventListener('keydown', function(event) {
    sendkey(event);
    event.preventDefault();
    return false;
});
document.addEventListener('keyup', function(event) {
    sendkey(event);
    event.preventDefault();
    return false;
});
</script>
{% end %}
