{% extends 'base.html' %}

{% block title %}Sender{% end %}

{% block style %}
<style>
body
{
  padding: 2em;
}
#pressed
{
  padding: 1em 0 !important;
  height: 70px;
}
.options .checkbox
{
  display: block;
  margin: 0.5em 0;
  font-size: 0.7em;
}
</style>
{% end %}

{% block content %}
<div class="ui grid" style="max-width:500px">
  <div class="ui row">
    <div class="eight wide column">
      <h3 class="ui header"><i class="icon keyboard"></i> Sender <div id="state" class="ui sub header">Offline</div></h3>
      <div class="ui labels" id="pressed"></div>
    </div>
    <div class="eight wide column">
      <div class="options">
        <h5 class="ui header">Options</h5>
        <div class="ui slider checkbox checked">
          <input type="checkbox" checked="checked">
          <label>Key Catch</label>
        </div>
        <h5 class="ui header">Keyboards</h5>
        <div class="ui slider checkbox checked">
          <input type="checkbox" checked="checked">
          <label>QWERT Keyboard</label>
        </div>
        <div class="ui slider checkbox">
          <input type="checkbox">
          <label>Function Keyboard</label>
        </div>
        <div class="ui slider checkbox">
          <input type="checkbox">
          <label>Numpad</label>
        </div>
        <div class="ui slider checkbox">
          <input type="checkbox">
          <label>Touchpad</label>
        </div>
      </div>
    </div>
  </div>
  <div class="ui row">
    <div class="keyboard qwert"></div>
  </div>
  <div class="ui row">
    <div class="eight wide column" style="padding:0">
      <div class="keyboard functional"></div>
    </div>
    <div class="eight wide column" style="padding:0">
      <div class="keyboard numpad"></div>
    </div>
  </div>
</div>

<input id="input" style="backgound:none;border:none;display:none;">
{% end %}


{% block scripts %}
<script>

var keyboard = new Keyboard(sendkey);
keyboard.make(keyboard.qwert);
keyboard.make(keyboard.numpad);
keyboard.make(keyboard.func);
keyboard.register_key_event($('.keyboard key'));

var pressed = {};
var client = new WSClient('ws://'+location.host+'/ws/s','hello',true,true);
client.connect();
client.onkey = function(key) {
  alert(key);
}
client.onstatechange = function(state) {
  if (state) $('#state').addClass('teal').text('Online');
  else $('#state').removeClass('teal').text('Offline');
}
function sendkey(event) {
  var keycode = event.keyCode;
  var obj = {};
  obj.action = 'key';
  obj.subaction = event.type;
  obj.data = {};
  obj.data.keyaction = event.type;
  obj.data.key = event.key;
  obj.data.keycode = event.keyCode;
  obj.data.is_shift_down = event.shiftKey;
  obj.data.is_ctrl_down = event.ctrlKey;
  obj.data.is_alt_down = event.altKey;

  if (event.type == 'keydown')
    if (pressed[keycode] == undefined)
    {
        pressed[keycode] = obj;
        var new_label = $('<div class="ui teal label" code="'+keycode+'">' + event.key + '</div>')
        $('#pressed').append(new_label);
    }
    else
      return;
  else
  {
    delete pressed[keycode];
    $('#pressed [code="'+keycode+'"]').remove();
  }
  console.log(event,obj);
  client.sendkey(obj);
}
document.addEventListener('keydown', function(event) {
    sendkey(event);
    event.preventDefault();
    return false;
});
document.addEventListener('keyup', function(event) {
    sendkey(event);
    event.preventDefault();
    return false;
});
</script>
{% end %}
